@model netdemo20252.Models.Mascota

<h1>Registro de Mascotas</h1>

<form asp-action="Index" method="post">
    <div>
        <label>Nombre de la mascota:</label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div>
        <label>Raza:</label>
        <input asp-for="Raza" />
        <span asp-validation-for="Raza" class="text-danger"></span>
    </div>

    <div>
        <label>Edad:</label>
        <input asp-for="Edad" type="number" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <div>
        <label>Propietario:</label>
        <input asp-for="Propietario" />
        <span asp-validation-for="Propietario" class="text-danger"></span>
    </div>

    <br />
    <button type="submit">Registrar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
