<h1>Registro de Mascota</h1>
<form action="/registro" method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre"><br>
    <label>Edad:</label>
    <input type="number" name="edad"><br>
    <label>Tipo:</label>
    <select name="tipo">
        <option>Perro</option>
        <option>Gato</option>
        <option>Otro</option>
    </select><br>
    <button type="submit">Registrar</button>
</form>