@model netdemo20252.Models.Mascota

<h2>Registro de Mascota</h2>

<form asp-action="Registro" method="post">
    <label>Nombre:</label>
    <input asp-for="Nombre" />
    <br />
    <label>Raza:</label>
    <input asp-for="Raza" />
    <br />
    <label>Edad:</label>
    <input asp-for="Edad" type="number" />
    <br />
    <label>Propietario:</label>
    <input asp-for="Propietario" />
    <br />
    <button type="submit">Registrar</button>
</form>
